html {
  body {
    #root {

      // showpage
      #showpage {

        #showpage-carousel-and-description-wrapper {
          margin-left: 100px;
          margin-top: 100px;
          position: relative;

          #game-name {
            font-family: 'Expletus Sans',
              cursive;
          }

          #btn-apply {
            font-family: 'Expletus Sans',
              cursive;
            font-size: 2rem;
          }

          #btn-applied {
            font-family: 'Expletus Sans',
              cursive;
            font-size: 1.5rem;
          }

          #showpage-carousel-container {
            width: 650px;
            height: 500px;

            @media screen and(max-width: 1430px) {
              width: 400px;
              height: 300px;
              margin-left: 20px;
              margin-top: 60px;
            }
          }

          #showpage-description-container {

            margin-left: 40px;
            margin-top: 200px;
            margin-right: 40px;

            position: relative;
            font-family: 'Biryani',
              sans-serif;

            // @media screen and(max-width: 1358px) {
            //   width: 350px;
            //   min-height: 400px;
            //   margin-right: 60px;
            // }
          }
        }

      }
    }
  }
}
