@import "~bootstrap/scss/bootstrap";
@import '~react-toastify/scss/main';

@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Expletus+Sans&family=Fruktur&family=Mate&display=swap');

@import "@/styles/layouts/Navbar";
@import "@/styles/layouts/Footer";

@import "@/styles/game-list/dev-game-list";
@import "@/styles/game-list/talents-game-list";
@import "@/styles/show-page/public-show-page";
@import "@/styles/show-page/dev-show-page";
@import "@/styles/show-page/talent-show-page";

// font-family: 'Biryani',
// sans-serif;
// font-family: 'Expletus Sans',
// cursive;
// font-family: 'Fruktur',
// cursive;
// font-family: 'Mate',
// serif;

html {
  box-sizing: border-box;

  body {
    #root {
      position: relative;
      min-height: 100vh;
      min-width: 100vw;

      margin: 0px;
      padding: 0px;

      #body-footer-container {
        min-height: 100vh;

        // public main page
        #pages-home {
          min-height: 100vh;
          position: relative;
          display: flex;
          flex-direction: column;

          .header {
            font-family: 'Biryani',
              sans-serif;
          }

        }

      }

    }

  }
}
