@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Expletus+Sans&family=Fruktur&family=Mate&display=swap');
@import "./dev-game-list.scss";
@import "./talents-game-list.scss";
// font-family: 'Biryani',
// sans-serif;
// font-family: 'Expletus Sans',
// cursive;
// font-family: 'Fruktur',
// cursive;
// font-family: 'Mate',
// serif;

html {
  box-sizing: border-box;

  body {
    #root {
      position: relative;
      min-height: 100vh;
      min-width: 100vw;

      margin: 0px;
      padding: 0px;

      //sign up form
      .radio-group {
        .radio-label {
          margin-right: 10px;
        }

      }

      // layout-navbar
      #layouts-navbar {

        #layouts-navbar-brand {
          font-family: 'Expletus Sans',
            cursive;
          font-weight: 900;
          font-style: italic;
          font-size: 2rem;
        }

        #layouts-navbar-navlink {
          font-size: 1.4rem;
          font-family: 'Mate',
            serif;
        }
      }


      // public main page
      #pages-home {
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;

        header {
          font-family: 'Biryani',
            sans-serif;

        }

        #pagesHome-games-container {
          display: flex;
          justify-content: center;
          flex-grow: 1;

          .pagesHome-games-list {
            display: flex;
            justify-content: center;

            .pagesHome-games-item {
              border-style: none;
              font-family: 'Biryani',
                sans-serif;

              a:link,
              a:visited {
                color: black;
                text-decoration: none;
              }

              a:hover {
                color: rgb(233, 131, 36)
              }
            }
          }
        }
      }



      //footer is for all the pages
      footer {
        bottom: 0;

        #footer-company-url:hover {
          text-decoration: none;
        }

      }
    }

  }
}
