@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Expletus+Sans&family=Fruktur&family=Mate&display=swap');

@import "@/styles/layouts/Navbar";

html {
  box-sizing: border-box;

  body {
    #root {
      min-height: 100vh;
      min-width: 100vw;
    }
  }
}
