#layouts-navbar {
  #layouts-navbar-brand {
    font-family: 'Expletus Sans'q, cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
  }

  #layouts-navbar-navlink {
    font-size: 1.4rem;
  }
}
