      // layout-navbar
      .layouts-navbar {
        // border-bottom-left-radius: 15px;
        // border-bottom-right-radius: 15px;

        #layouts-navbar-brand {
          font-family: 'Expletus Sans',
            cursive;
          font-weight: 900;
          font-style: italic;
          font-size: 2rem;
        }

        #layouts-navbar-navlink {
          font-size: 1.4rem;
          font-family: 'Mate',
            serif;
        }
      }
